<main class="container">

  <!-- <section class="header">
    <gg-search (updateSearchTerm)="onChangeSearchTerm($event)"></gg-search>
    <span class="book-mark" title="Bookmark" [routerLink]="['bookmark']" >
      <img src="../assets/icons/bookmark-square.svg" alt="Bookmark">
    </span>
  </section>

  <ng-container *ngIf="list.length">
    <gg-shared-list>
      <gg-gif-card *ngFor="let item of list" [gifItem]="item"></gg-gif-card>
    </gg-shared-list>
  </ng-container> -->
  <router-outlet></router-outlet>
</main>

